# Fichiers OneNote
*.onetoc2
*.one
*.onepkg
*.onetmp

# Environnement local / Tomcat / XAMPP
xampp/
tomcat/
apache-tomcat*/
**/webapps/
**/logs/
**/temp/
**/work/

# Fichiers générés (compilation / packaging)
**/WEB-INF/classes/
**/*.class
**/*.jar
**/*.war
**/classes/
**/lib/clustering_framework.jar

# Config locale IDE/OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

